body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    footer {
        text-align: center;
        width: 100%;
        background-color: aqua;
        margin-top: auto;

        p {
            margin-top: 1em;
        }
    }
}
