<%- include("eshop/header", {title: title}); %>

<h1>Welcome to the website</h1>

<p>Please choose a part in the store from the navigation bar above to go to the shop.</p>

<%- include("eshop/footer"); %>
