<%- include("../header", {title: title}); %>

<form class="label-left" method="post" action="/eshop/category/create">
    <fieldset>
        <legend>Create product</legend>

        <label for="product_name">Name</label>
        <input id="product_name" type="text" name="name" value="" />

        <input type="submit" name="doit" value="Create" />

    </fieldset>
</form>

<%- include("../footer"); %>
