<%- include("../header", {title: title}); %>

<form class="label-left" method="post" action="/eshop/category/delete">
    <fieldset>
        <legend>Delete category</legend>

        <input type="hidden" readonly id="id" name="id" value="<%= res.category_id %>" />

        <label for="name">Name</label>
        <input id="name" readonly type="text" name="name" value="<%= res.name %>" />

        <input type="submit" name="doit" value="Delete" />
    </fieldset>
</form>

<%- include("../footer"); %>
