<%- include("../header", {title: title}); %>

<form class="label-left" method="post" action="/eshop/product/edit">
    <fieldset>
        <legend>Edit product</legend>

        <input type="hidden" id="id" name="id" value="<%= res.product_id %>" />

        <label for="product_name">Name</label>
        <input id="product_name" type="text" name="name" value="<%= res.product_name %>" />

        <input type="submit" name="doit" value="Edit" />

        <% if (edited){ %>
        <p>Product is updated.</p>

        <% }; %>
    </fieldset>
</form>

<%- include("../footer"); %>
