<%- include("../header", {title: title}); %>

<form class="label-left" method="post" action="/eshop/category/edit">
    <fieldset>
        <legend>Edit category</legend>

        <input type="hidden" id="id" name="id" value="<%= res.category_id %>" />

        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= res.name %>" />

        <input type="submit" name="doit" value="Edit" />

        <% if (edited){ %>
        <p>Category is updated.</p>

        <% }; %>
    </fieldset>
</form>

<%- include("../footer"); %>
