<%- include("header", {title: title}); %>
<div class="container my-3">
    <h1>Welcome to the eShop</h1>

    <p>Please choose a part in the store from the navigation bar above.</p>
</div>

<%- include("footer"); %>
